<section class="table-toolbar">
    <div class="search">
        <app-input label="Buscar" placeholder="Buscar" qa-id="search-financial-product" type="text" [ngModel]="searchTerm()" (ngModelChange)="onSearch($event)" />
    </div>
    
    <app-button label="Agregar"
                qa-id="add-financial-product"
                (click)="onAddNewProduct()"
                kind="primary"/>
</section>
<main style="margin-top: 0;">
    <div style="overflow-x: auto;">
        <table qa-id="financial-products-list" style="width: 100%; min-width: 770px;">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de reestructuración</th>
                    <th></th>
                </tr>
            </thead>
            <tbody #body>
                @for (product of products() | slice:0:pageSize(); track product.id) {
                    <tr>
                        <td>
                            <img [src]="product.logo" [alt]="product.name" onerror="this.onerror=null;this.src='https://placehold.co/32?text=BP'">
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ product.description }}
                        </td>
                        <td>
                            {{ product.releaseDate | date:'dd/MM/yyyy' }}
                        </td>
                        <td>
                            {{ product.revisionDate | date:'dd/MM/yyyy' }}
                        </td>
                        <td style="position: relative;">
                            <button [cdkMenuTriggerFor]="menuRef" class="actions-btn">
                                <img src="icons/more-vert.svg" width="32" height="32">
                            </button>
                            <ng-template #menuRef>
                                <div cdkMenu class="product-actions">
                                    <button cdkMenuItem (cdkMenuItemTriggered)="onEditProduct(product.id)">Editar</button>
                                    <button cdkMenuItem (cdkMenuItemTriggered)="onDeleteProduct(product)" style="color: red; border-top: 1px solid #f7f7f7;">Eliminar</button>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <section class="table-footer-toolbar">
        <span>{{products().length}} Resultados</span>
        <select name="items" id="page-size" [ngModel]="pageSize()" (ngModelChange)="pageSize.set(+$event)">
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="20">20</option>
        </select>
    </section>
</main>

<ng-template #confirmDeleteDialog let-product="product">
    <dialog #dialog>
        <main style="max-width: 400px;
        margin: 0;">
            ¿Estas seguro de elminar el producto {{ product.name }}?
        </main>
        <footer style="display: flex; gap: 16px; padding-top: 16px; border-top: 1px solid #f7f7f7; justify-content: center;">
            <app-button label="Cancelar"
                        (click)="closeModal()"
                        qa-id="cancel-delete-btn"/>
            <app-button label="Confirmar"
                        qa-id="confirm-delete-btn"
                        (click)="onConfirmDelete(product.id)"
                        kind="primary"/>
        </footer>
    </dialog>
</ng-template>
