<section class="table-toolbar">
    <div class="search">
        <app-input label="Buscar" placeholder="Buscar" qa-id="search-financial-product" type="text" [ngModel]="searchTerm()" (ngModelChange)="onSearch($event)" />
    </div>
    
    <app-button label="Agregar"
                qa-id="add-financial-product"
                (click)="onAddNewProduct()"
                kind="primary"/>
</section>
<main style="margin-top: 0;">
    <table qa-id="financial-products-list" style="width: 100%;">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Nombre del producto</th>
                <th>Descripción</th>
                <th>Fecha de liberación</th>
                <th>Fecha de reestructuración</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products() | slice:0:pageSize(); track product.id) {
                <tr>
                    <td>
                        <img [src]="product.logo" [alt]="product.name" onerror="this.onerror=null;this.src='https://placehold.co/32?text=BP'">
                    </td>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>
                    <td>
                        {{ product.releaseDate | date:'dd/MM/yyyy' }}
                    </td>
                    <td>
                        {{ product.revisionDate | date:'dd/MM/yyyy' }}
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <section class="table-footer-toolbar">
        <span>{{products().length}} Resultados</span>
        <select name="items" id="page-size" [ngModel]="pageSize()" (ngModelChange)="pageSize.set(+$event)">
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="20">20</option>
        </select>
    </section>
</main>
