form {
    display: grid;
    gap: 16px;
    padding-top: 24px;
    input {
        width: 100%;
    }
}


@media screen and (min-width: 0px){
    form {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 400px){
    form {     
        grid-template-columns: repeat(2,1fr);
    }
}
