<main>
    <h3>Formulario de Registro</h3>
    <form [formGroup]="productForm">
        <div>
            <input type="text" placeholder="ID">
        </div>
        <div>
            <input type="text" placeholder="Nombre">
        </div>
        <div>
            <input type="text" placeholder="Descripción">
        </div>
        <div>
            <input type="text" placeholder="Logo">
        </div>
        <div>
            <input type="date" placeholder="Fecha Liberación">
        </div>
        <div>
            <input type="date" placeholder="Fecha Revisión">
        </div>
    </form>
</main>